##########################
## Connection Configuration
##########################

# Provide the connection details
[connection]
tenant_name=admin
auth_url=http://127.0.0.1:5000/v2.0
username=admin
password=sop52maw

########################
## Instance size
## Configuration
########################

# Provide here the desired sizes
# and its Cost
[instance_size_section]
m1.tiny=1.5
m1.small=2.5
m1.medium=3.5
m1.large=4.5
m1.xlarge=5.5


########################
## Image details
## Configuration
########################

# Provide here the image_id
# and its cost

[image_section]
591c008a-6833-4167-9749-e5e5a74d1de4=7.5
